<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<div th:fragment="generalTabFragment">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label"> Account <span class="symbol required"></span></label>
                <select th:field="*{accountId}" class="search-select" style="width: 100%;">
                    <option value="">&nbsp;</option>
                    <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.code}"></option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label"> Charge Department <span class="symbol required"></span></label>
                <select th:field="*{chargeDepartmentId}" class="search-select" style="width: 100%;">
                    <option value="">&nbsp;</option>
                    <option th:each="chargeDepartment : ${chargeDepartments}" th:value="${chargeDepartment.id}" th:text="${chargeDepartment.code}"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label"> Summary of Issue </label>
                <textarea th:field="*{description}" placeholder="Insert description about issue" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label"> Work Instructions </label>
                <textarea th:field="*{adminNotes}" placeholder="Insert instruction how to solve issue" class="form-control" rows="14"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label"> Assigned To User </label>
                <div class="input-group">
                    <input type="hidden" th:field="*{requestorId}">
                    <input type="text" th:field="*{requestorName}" readonly class="form-control" placeholder="Select a Assigned User" id="requestorName">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label"> Estimated Labor <span class="symbol required"></span></label>
                <input th:field="*{timeEstimatedHours}" type="text" placeholder="Insert Estimated Labor" class="form-control">
            </div>
        </div>
    </div>
</div>
</html>