<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags" class="no-js">

<head th:include="template/commoncss :: commoncss"></head>

<link type="text/css" rel="stylesheet" th:href="@{/resources/style/select2.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-modal-bs3patch.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-modal.css}"/>

<body>
<!-- start: HEADER -->
<div class="navbar navbar-inverse navbar-fixed-top" th:replace="template/commonheader :: commonheader"></div>
<!-- end: HEADER -->

<!-- start: MAIN CONTAINER -->
<div class="main-container">
    <div class="navbar-content">

        <!-- start: SIDEBAR -->
        <div class="main-navigation navbar-collapse collapse">

            <!-- start: MAIN MENU TOGGLER BUTTON -->
            <div class="navigation-toggler">
                <i class="clip-chevron-left"></i> <i class="clip-chevron-right"></i>
            </div>
            <!-- end: MAIN MENU TOGGLER BUTTON -->

            <!-- start: MAIN NAVIGATION MENU -->
            <ul class="main-navigation-menu" th:replace="template/menu :: menu"></ul>
            <!-- end: MAIN NAVIGATION MENU -->
        </div>
        <!-- end: SIDEBAR -->
    </div>

    <!-- start: PAGE -->
    <div class="main-content">

        <div class="container">

            <div id="common-modal" class="modal datatable fade" role="dialog" tabindex="-1"
                 style="margin-bottom: 0px; bottom: 10%; top: auto; position: fixed;"></div>
            <!-- start: PAGE HEADER -->
            <div class="row" th:replace="inventory/bomgroup/page-header :: pageheader"></div>
            <!-- end: PAGE HEADER -->

            <div class="row btn-bar">

                <a class="btn btn-default btn-sm active tooltips" id="new" th:href="@{/bomgroup/add}"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL',T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_NEW_BUTTON_BOM_GROUP_ADD.id)"
                   data-placement="top" data-original-title="Add"> <i class="clip-plus-circle-2  btn-new"></i> New
                </a>
                <a class="btn btn-default btn-sm active tooltips" id="save" data-placement="top"
                   data-original-title="Save"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL',T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_SAVE_BUTTON_BOM_GROUP_ADD.id)"
                   onclick="document.getElementById('bom_group_add_btn').click();"> <i
                        class="clip-checkmark-circle-2 btn-save"></i> <span class="hidden-xs">Save</span>
                </a>
                <a class="btn btn-default btn-sm active tooltips" id="delete"
                   th:href="@{/bomgroup/delete(id=${bomGroup.id})}"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL',T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_DELETE_BUTTON_BOM_GROUP_ADD.id)"
                   th:disabled="${bomGroup.id} == null ? 'disabled'" data-placement="top"
                   data-original-title="Delete"> <i class=" clip-cancel-circle-2 btn-delete"></i> <span class="hidden-xs">Delete</span>
                </a>
                <a class="btn btn-default btn-sm active tooltips" id="cancel" th:href="@{/bomgroup/}"
                   data-placement="top"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL',T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_CANCEL_BUTTON_BOM_GROUP_ADD.id)"
                   data-original-title="Back"> <i class="clip-arrow-left-2 "></i> <span class="hidden-xs">Cancel</span>
                </a>

            </div>

            <!-- start: PAGE CONTENT -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="clip-cube "></i> BOM Group
                        </div>
                        <div class="panel-body">
                            <div th:replace="template/messageview :: message"></div>
                            <form role="form" id="bom_group_add_frm" th:action="@{/bomgroup/save}"
                                  th:object="${bomGroup}" method="post">

                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden" th:field="*{version}"/>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Name <span class="symbol required"></span>
                                            </label>
                                            <input type="text" placeholder="Insert the BOM Group Name"
                                                   th:field="*{name}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Business <span class="symbol required"></span>
                                            </label>
                                            <select th:field="*{businessId}" class="search-select" style="width: 100%;">
                                                <option th:each="business : ${businesses}" th:value="${business.id}"
                                                        th:text="${business.name}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <span class="symbol required"></span>Required Fields
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="tabbable wrapper">
                                            <ul id="myTab" class="nav nav-tabs tab-bricky list">
                                                <li class="active"><a href="#parts_tab" data-toggle="tab"> Parts </a>
                                                </li>
                                                <li><a href="#assets_tab" data-toggle="tab"> Assets </a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane in active" id="parts_tab">
                                                    <div th:replace="inventory/bomgroup/tab/part-tab :: partTabFragment"></div>
                                                </div>
                                                <div class="tab-pane" id="assets_tab">
                                                    <div th:replace="inventory/bomgroup/tab/asset-tab :: assetTabFragment"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="visibility: hidden;">
                                    <button id="bom_group_add_btn" type="submit"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: PAGE CONTENT-->
        </div>
    </div>
    <!-- end: PAGE -->
</div>
<!-- end: MAIN CONTAINER -->

<!-- start: FOOTER -->
<div class="row" th:replace="template/footer :: footer"></div>
<!-- end: FOOTER -->

<!-- start: MAIN JAVASCRIPTS -->
<div th:include="template/commonjs :: commonjs"></div>
<!-- end: MAIN JAVASCRIPTS -->

<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.spring-friendly.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-modal.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-modalmanager.js}"></script>

<script type="text/javascript" th:src="@{/resources/script/app/inventory/bomgroup/init.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/inventory/bomgroup/add-view.js}"></script>

<script type="text/javascript" th:src="@{/resources/script/app/inventory/bomgroup/modal/asset-select-modal.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/inventory/bomgroup/modal/asset-category-select-modal.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/inventory/bomgroup/modal/part-select-modal.js}"></script>

<script type="text/javascript" th:src="@{/resources/script/app/inventory/bomgroup/tab/asset-tab.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/inventory/bomgroup/tab/part-tab.js}"></script>
<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

<script th:inline="javascript">

    var assets = [[${bomGroup.assets}]];
    var parts =  [[${bomGroup.parts}]];

</script>

</body>

</html>
