<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<head th:include="template/commoncss :: commoncss"></head>

<link type="text/css" rel="stylesheet"
	th:href="@{/resources/style/select2.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{/resources/style/bootstrap-datepicker.min.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{/resources/style/bootstrap-modal-bs3patch.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{/resources/style/bootstrap-modal.css}" />
<link type="text/css" rel="stylesheet"
	th:href="@{/resources/style/dropzone.min.css}" />

<body>

	<!-- start: HEADER -->
	<div class="navbar navbar-inverse navbar-fixed-top"
		th:replace="template/commonheader :: commonheader"></div>
	<!-- end: HEADER -->

	<!-- start: MAIN CONTAINER -->
	<div class="main-container">
		<div class="navbar-content">

			<!-- start: SIDEBAR -->
			<div class="main-navigation navbar-collapse collapse">

				<!-- start: MAIN MENU TOGGLER BUTTON -->
				<div class="navigation-toggler">
					<i class="clip-chevron-left"></i> <i class="clip-chevron-right"></i>
				</div>
				<!-- end: MAIN MENU TOGGLER BUTTON -->

				<!-- start: MAIN NAVIGATION MENU -->
				<ul class="main-navigation-menu" th:replace="template/menu :: menu"></ul>
				<!-- end: MAIN NAVIGATION MENU -->
			</div>
			<!-- end: SIDEBAR -->
		</div>

		<div id="status"></div>

		<!-- start: PAGE -->
		<div class="main-content">

			<div id="scrolable-modal" class="modal datatable fade" role="dialog"
				tabindex="-1"
				style="margin-bottom: 10%; margin-top: 10%; height: 100%; position: fixed;"></div>
			<div th:replace="general/modal/modal-base :: modalFragment "></div>
			<div th:replace="general/modal/modal-base :: largeModalFragment "></div>
			<div th:replace="general/modal/modal-base :: stackableModalFragment "></div>
			<div th:replace="general/modal/modal-base :: modalDatatableFragment "></div>

			<div class="container">

				<!-- start: PAGE HEADER -->
				<div class="row"
					th:replace="maintenance/workorder/page-header :: pageheader"></div>
				<!-- end: PAGE HEADER -->

				<div class="row btn-bar">
					<a class="btn btn-default btn-sm active tooltips" id="new"
						th:href="@{/exworkorder/add}"
						sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL', T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_NEW_BUTTON_WORK_ORDER_ADD.id)"
						data-placement="top" data-original-title="Add"> <i
						class="clip-plus-circle-2 btn-new"></i> New
					</a> <a
						th:disabled="${exworkOrder.workOrderStatus}==${T(com.codex.ecam.constants.WorkOrderStatus).APPROVED} ? 'disabled' "
						class="btn btn-default btn-sm active tooltips" id="save"
						data-placement="top"
						sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL', T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_SAVE_BUTTON_WORK_ORDER_ADD.id)"
						data-original-title="Save"
						onclick="document.getElementById('exworkorder_add_btn').click();"> <i
						class="clip-checkmark-circle-2 btn-save"></i> <span
						class="hidden-xs"> Save</span>
					</a> <a class="btn btn-default btn-sm active tooltips" id="delete"
						th:href="@{/exworkorder/delete(id=${exworkOrder.id})}"
						sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL', T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_DELETE_BUTTON_WORK_ORDER_ADD.id)"
						th:disabled="${exworkOrder.id} == null ||  ? 'disabled'"
						data-placement="top" data-original-title="Delete"> <i
						class=" clip-cancel-circle-2 btn-delete"></i> <span
						class="hidden-xs">Delete</span>
					</a> <a class="btn btn-default btn-sm active tooltips" id="cancel"
						th:href="@{/exworkorder/}" data-placement="top"
						data-original-title="Back"> <i class="clip-arrow-left-2 "></i><span
						class="hidden-xs">Cancel</span>
					</a> <a th:disabled="${exworkOrder.id}==null ? 'disabled'"
						type="button" class="btn btn-default btn-sm active tooltips"
						onClick="WorkorderAdd.woApprovedModalView()"
						th:if="${exworkOrder.workOrderStatus}==${T(com.codex.ecam.constants.WorkOrderStatus).OPEN}"
						id="btn-wo-approved"
						sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL', T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_APPROVED_BUTTON_WORK_ORDER_ADD.id)"
						data-placement="top" data-original-title="Approve WorkOrder"><i
						class="fa fa-share-square-o"></i> Approved </a> <a
						th:disabled="${exworkOrder.id}==null ? 'disabled'" type="button"
						class="btn btn-default btn-sm active tooltips"
						onClick="WorkorderAdd.woClosedModalView()"
						th:if="${exworkOrder.workOrderStatus}==${T(com.codex.ecam.constants.WorkOrderStatus).APPROVED}"
						id="btn-wo-closed"
						sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL', T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_CLOSED_BUTTON_WORK_ORDER_ADD.id)"
						data-placement="top" data-original-title="Close WorkOrder"><i
						class="fa fa-share-square-o"></i> Closed </a>
				</div>
				<!-- start: PAGE CONTENT -->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<i class="clip-stack-2 "></i> Work Order - Create
							</div>
							<div class="panel-body">
								<div th:replace="template/messageview :: message"></div>

								<form role="form" id="ex_wo_add_frm"
									th:action="@{/exworkorder/save}" th:object="${exworkOrder}"
									method="post">

									<input type="hidden" th:field="*{id}" id="woId" /> <input
										type="hidden" th:field="*{version}" id="woVersion" /> <input
										type="hidden" th:field="*{workOrderStatus}" />

									<div class="row" style="visibility: hidden;">
										<button id="ex_wo_add_btn" type="submit"></button>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label"> Work Order Status</label>
												<p class="form-control">
													<b><span style="font-size: medium;"
														th:field="*{workOrderStatus}"
														th:text="${exworkOrder.workOrderStatus.getName()}"></span></b>
												</p>
											</div>
										</div>

									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label"> Business <span
													class="symbol required"></span>
												</label> <select th:field="*{businessId}" class="search-select"
													style="width: 100%;">
													<option value="">&nbsp;</option>
													<option th:each="business : ${businesses}"
														th:value="${business.id}" th:text="${business.name}"></option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label"> Site <span
													class="symbol required"></span>
												</label> <select id="siteId" th:field="*{siteId}"
													class="search-select" style="width: 100%;">
													<option value="">&nbsp;</option>
													<option th:each="site : ${sites}" th:value="${site.id}"
														th:text="${site.name}"></option>
												</select>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label">Code <span
													class="symbol required"></span>
												</label> <input type="text"
													placeholder="Please Type Work Order Code" id="code"
													class="form-control" th:field="*{code}">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label"> Asset <span
													class="symbol required"></span>
												</label>
												<div class="input-group">
													<input type="hidden" id="assetId" th:field="*{assetId}">
													<input type="text" th:field="*{assetName}" id="assetName"
														readonly class="form-control" placeholder="Select Asset">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label"> Service Provider </label>
												<div class="input-group">
													<input type="hidden" id="serviceProviderId"
														th:field="*{serviceProviderId}"> <input
														type="text" th:field="*{serviceProviderName}"
														id="serviceProviderName" readonly class="form-control"
														placeholder="Select Service Provider">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label"> Service Requested <span
													class="symbol required"></span>
												</label>
												<div class="input-group">
													<input type="hidden" id="serviceRequestId"
														th:field="*{serviceRequestId}"> <input type="text"
														th:field="*{serviceRequestName}" id="serviceRequestName"
														readonly class="form-control" placeholder="Select a User">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label"> Requested Date </label>
												<div class="input-group" id="picker-container">
													<input th:field="*{requestedDate}" type="text"
														data-date-format="dd-mm-yyyy" data-date-viewmode="years"
														class="form-control date-picker"
														placeholder="Please Specify a Start Date"> <span
														class="input-group-addon"> <i
														class="fa fa-calendar"></i>
													</span>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label"> Completed Date </label>
												<div class="input-group" id="picker-container">
													<input th:field="*{completedDate}" type="text"
														data-date-format="dd-mm-yyyy" data-date-viewmode="years"
														class="form-control date-picker"
														placeholder="Please Specify a Start Date"> <span
														class="input-group-addon"> <i
														class="fa fa-calendar"></i>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label"> estimated cost </label> <input
													type="text" placeholder="Please enter actual cost"
													id="code" class="form-control" th:field="*{estimatedCost}">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label"> actual cost </label> <input
													type="text" placeholder="Please enter actual cost"
													id="actualCost" class="form-control"
													th:field="*{actualCost}">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label"> Note </label>
												<textarea th:field="*{note}" id="note" placeholder="Note"
													rows="10" cols="80" class="form-control"></textarea>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label"> Maintenance summary </label>
												<textarea th:field="*{maintenanceSummary}"
													id="maintenanceSummary" placeholder="Summary" rows="10"
													cols="80" class="form-control"></textarea>

											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div>
												<span class="symbol required"></span>Required Fields
												<hr>
											</div>
										</div>
									</div>
									<div class="row" style="visibility: hidden;">
										<button id="exworkorder_add_btn" type="submit"></button>
									</div>
								</form>
								<!-- end: PAGE CONTENT-->
							</div>
						</div>
					</div>
					<!-- end: PAGE -->
				</div>
				<!-- end: MAIN CONTAINER -->
			</div>
		</div>
	</div>

	<!-- start: FOOTER -->
	<div class="row" th:replace="template/footer :: footer"></div>
	<!-- end: FOOTER -->

	<!-- start: MAIN JAVASCRIPTS -->
	<div th:include="template/commonjs :: commonjs"></div>
	<!-- end: MAIN JAVASCRIPTS -->

	<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
	<script type="text/javascript"
		th:src="@{/resources/script/libs/jquery.validate.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/libs/jquery.dataTables.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/libs/dataTables.bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/libs/jquery.spring-friendly.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/libs/bootbox.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/libs/jquery.mockjax.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/libs/moment.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/libs/select2.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/libs/bootstrap-modal.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/libs/bootstrap-modalmanager.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/libs/bootstrap-datepicker.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/libs/jQuery-Smart-Wizard/jquery.smartWizard.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/libs/dropzone.min.js}"></script>


	<script type="text/javascript"
		th:src="@{/resources/script/app/util/focus-validation-util.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/app/util/base64.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/app/util/focus-button-util.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/app/util/common-component-util.js}"></script>

	<script type="text/javascript"
		th:src="@{/resources/script/app/maintenance/exworkorder/init.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/app/maintenance/exworkorder/add-view.js}"></script>


	<script type="text/javascript"
		th:src="@{/resources/script/app/maintenance/exworkorder/datatable/dt-assets.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/app/maintenance/exworkorder/datatable/dt-users.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/script/app/maintenance/exworkorder/datatable/dt-wo-supplier.js}"></script>

	<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

	<!-- Inline JavaScript-->

	<script th:inline="javascript">        
    </script>

</body>
</html>