<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title"> AOD <span th:text="#{aod.tab.item}"> </span></h4>
</div>

<div class="modal-body" id="aodItemModalBody">

    <input type="hidden" id="itemId">
    <input type="hidden" id="itemIndex">
    <input type="hidden" id="itemVersion">

    <div id="aod-item-child-modal" class="modal datatable fade" data-backdrop="static" role="dialog" tabindex="-1"
         data-focus-on="input:first" style="margin-bottom: 0px; bottom: auto; top: 50%; position: relative;">
        <div class="modal-content"></div>
    </div>

    <form id="frm_aod_item">
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-pane in active" id="aod_item_tab">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="control-label"> <span th:text="#{aod.tab.item.asset}"></span> <span class="symbol required"></span></label>
                                <div class="input-group">
                                    <input type="hidden" id="itemPartId">
                                    <input type="text" id="itemPartName" name="itemPartName" readonly>
                                </div>
                            </div>
                        </div>
                          <div class="col-md-6 col-sm-8">
                            <div class="form-group">
                                <label class="control-label"> Stock <span class="symbol required"></span></label>
                                <div class="input-group">
                                    <input type="hidden" id="itemStockId">
                                    <input type="hidden" id="itemStockQuantity">
                                    <input type="hidden" id="itemStockWarehouseId">
                                    <input type="hidden" id="itemStockWarehouseName">
                                    <input type="text" class="form-control" id="itemStockBatchNo" name="itemStockBatchNo" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
  
                        <div class="col-md-6 col-sm-2">
                            <div class="form-group">
                                <label class="control-label"> On Hand Qty </label>
                                <label class="form-control" style="text-align:center" id="itemStockOnHandQty"> </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label class="control-label"> <span th:text="#{aod.tab.item.qty}"></span><span
                                        class="symbol required"></span> </label>
                                <input id="itemQuantity" name="itemQuantity" type="text" placeholder="Item Quantity"
                                       class="form-control numericOnly">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label class="control-label"> <span th:text="#{aod.tab.item.description}"></span>
                                </label><br/>
                                <textarea id="itemDescription" placeholder="Description"
                                          class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <a type="button" data-dismiss="modal" class="btn btn-sm btn-blue">
        <span th:text="#{form.btn.close}"></span>
    </a>
    <a class="btn btn-sm btn-blue cls-addBtn-aodItem" id="btn-add-aod-item">
        <i class="clip-plus-circle-2 "></i> <span th:text="#{form.btn.add}"></span>
    </a>
</div>
</html>
