<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  class="no-js">
<div th:fragment="notificationModalFragment">
    <div id="notificationModal" class="modal" data-focus-on="input:first">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title"> Notification </h4>
        </div>
        <div class="modal-body">

            <div id="notificationModalSection" class="row">
                <div class="col-md-12">

                    <input type="hidden" id="notificationId">
                    <input type="hidden" id="notificationVersion">
                    <input type="hidden" id="notificationRowIndex">


                    <div class="form-group">
                        <label class="control-label"> User <span class="symbol required"></span> </label>
                        <select id="notificationAssignedUser" name="notificationAssignedUser" class="search-select"
                                style="width: 100%;">
                        </select>
                    </div>
                </div>

                <div class="col-md-12">

                    <div class="checkbox">
                        <label>
                            <input id="notifyOnAssignment" type="checkbox" value="" class="grey">
                            Notify On Assignment
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input id="notifyOnStatusChange" type="checkbox" class="grey">
                            Notify On Status Change
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input id="notifyOnCompletion" type="checkbox" value="" class="grey">
                            Notify On Completion
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input id="notifyOnTaskCompleted" type="checkbox" value="" class="grey">
                            Notify On Task Completed
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input id="notifyOnOnlineOffline" type="checkbox" value="" class="grey">
                            Notify On Online Offline
                        </label>
                    </div>

                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-sm btn-blue">
                Close
            </button>
            <button id="addNotificationTblRow" type="button" class="btn btn-sm btn-blue">
                Add
            </button>
        </div>
		</div>
	</div>
</html>