<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="row" th:fragment="userPageheader">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb" >
		    <!-- <li>
		        <i class="clip-home-3"></i>
		        <a th:href="${levelOne}"> Home  </a> 
		    </li> -->
         	<li class="active"> Setting </li>
	     	<li class="active">
	     	  <a th:href="${levelThree}"> User </a> 
         	</li>
	     	<li class="inActive" th:text="${levelFour}"> </li>
		</ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>


</div>

