<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<div th:fragment="summary">
	<div class="row" style="margin-top: 15px;">
		<div class="col-md-6"
			sec:authorize="hasAnyAuthority('ADMIN_LEVEL','MAINTAINACE_WIGET',T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_MAINTAINACE_WIGET.id)">
			<div class="panel panel-default">
				<div class="panel-body ">
					<div
						th:replace="dashboard/schedulemaintenance/scheduled-maintenance :: scheduleMaintenance"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6"
			sec:authorize="hasAnyAuthority('ADMIN_LEVEL','MAINTAINACE_WIGET',T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_MAINTAINACE_WIGET.id)">
			<div class="panel panel-default">
				<div class="panel-body ">
					<div
						th:replace="dashboard/workordercomparision/workorder-comparision-chart :: workorderComparisionChart"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6 center"
			sec:authorize="hasAnyAuthority('ADMIN_LEVEL','MAINTAINACE_WIGET',T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_MAINTAINACE_WIGET.id)">
			<div class="panel panel-default" style="height: 56vh;">
				<div class="panel-body ">
					<div class="section-header">
						<h2>Work Order On Time Completion</h2>
						<hr>
					</div>
					<canvas id="previous" class="canvas doughnut" width="300px"
						height="300px"></canvas>
				</div>
			</div>
		</div>
		<div class="">
			<div class="row">
				<div class="col-sm-12 col-md-2 center"
					sec:authorize="hasAnyAuthority('ADMIN_LEVEL','INVENTORY_WIGET',T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_INVENTORY_WIGET.id)">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="section-header">
								<h2>High Priority Work Orders</h2>
								<hr>
							</div>
							<span><h1 class="counter-count"
									th:text="${highPriorityWorkOrder}"></h1></span> <input type="button"
								class="btn btn-info btn-xs" id="high-priority-workorder-btn"
								value="View" />
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-2 center"
					sec:authorize="hasAnyAuthority('ADMIN_LEVEL','NOTIFICATION_WIGET',T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_NOTIFICATION_WIGET.id)">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="section-header">
								<h2>Open Work Orders</h2>
								<hr>
							</div>
							<span><h1 class="counter-count"
									th:text="${openWorkOrderCount}"></h1></span> <input type="button"
								class="btn btn-info btn-xs" id="open-workorder-btn" value="View" />
						</div>

					</div>
				</div>
				<div class="col-sm-12 col-md-2 center "
					sec:authorize="hasAnyAuthority('ADMIN_LEVEL','BIZ_WIGET',T(com.codex.ecam.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.codex.ecam.constants.PagePermission).HAS_BIZ_WIGET.id)">
					<div class="panel panel-default ">
						<div class="panel-body">
							<div class="section-header">
								<h2>Low Stock Items</h2>
								<hr>
							</div>
							<span><h1 class="counter-count" th:text="${lowStockItem}"></h1></span>
							<input type="button" class="btn btn-info btn-xs"
								id="low-stock-item-btn" value="View" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>