<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<div th:fragment="summary">
	<div class="row" style="margin-top: 15px;">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body ">
					<div
						th:replace="dashboard/schedulemaintenance/scheduled-maintenance :: scheduleMaintenance"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body ">
					<div
						th:replace="dashboard/workordercomparision/workorder-comparision-chart :: workorderComparisionChart"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6 center">
			<div class="panel panel-default" style="height: 53vh;">
				<div class="panel-body ">
						<div class="section-header">
							<h2>Work Order On Time Completion</h2>
							<hr>
						</div>
					<canvas id="previous" class="canvas doughnut" width="250px"
						height="250px"></canvas>
				</div>
			</div>
		</div>
		<div class="">
		<div class="row">
			<div class="col-sm-12 col-md-2 center">
				<div class="panel panel-default">
					<div class="panel-body ">
						<div class="section-header">
							<h2>High Priority Work Orders</h2>
							<hr>
						</div>
						<span><h1 class="counter-count"
								th:text="${highPriorityWorkOrder}"></h1></span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="panel panel-default">
					<div class="panel-body ">
						<div class="section-header">
							<h2>Open Work Orders</h2>
							<hr>
						</div>
						<span><h1 class="counter-count"
								th:text="${openWorkOrderCount}"></h1></span>
					</div>
				</div>
			</div>
						<div class="col-md-2">
				<div class="panel panel-default">
					<div class="panel-body ">
						<div class="section-header">
							<h2>Low Stock Items</h2>
							<hr>
						</div>
						<span><h1 class="counter-count" th:text="${lowStockItem}"></h1></span>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="panel panel-default">
					<div class="panel-body ">
						<div class="section-header">
							<h2>MTTR</h2>
							<hr>
						</div>
						<span><h1 class="counter-count" th:text="${mttr}"></h1>Hr</span>
					</div>
				</div>
			</div>
						<div class="col-md-2">
				<div class="panel panel-default">
					<div class="panel-body ">
						<div class="section-header">
							<h2>Work Orders Request</h2>
							<hr>
						</div>
						<span><h1 class="counter-count"
								th:text="${workOderRequestCount}"></h1></span>
					</div>
				</div>


			</div>

		</div>
	</div>
</div>
</div>