<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<div th:fragment="recivingTabFragment">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
	            <label class="control-label"> Ship to </label>
	            <div class="input-group">
	                <input type="hidden" id="shipToId" th:field="*{shipToId}">
	                <input type="text" id="shipToName" th:field="*{shipToName}" readonly class="form-control" >                     
	            </div>
            </div>		
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">City</label> 
				<input type="text" th:field="*{shippingCity}" class="form-control">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Postal Code</label> <input type="text"
					th:field="*{shippingPostalCode}" class="form-control">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Province</label> <input type="text"
					th:field="*{shippingProvince}" class="form-control">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
	            <label class="control-label"> Country </label>
	            <div class="input-group">
	                <input type="hidden" id="shipToCountry" th:field="*{shipToCountry}">
	                <input type="text" id="shipToCountryName" th:field="*{shipToCountryName}" readonly class="form-control" >                     
	            </div>
            </div>		
		</div>
	</div>
		<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label">Ship Address</label>
				<textarea th:field="*{shipToAddress}" class="form-control"
					id="shipToAddress"></textarea>
			</div>
		</div>
	</div>
	</div>

</html>