<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">
	<div th:fragment="userSiteFragment" >

		<div class="panel-group accordion-custom accordion-teal" id="accordion">

			<div class="panel panel-default" th:each="userSite,stat: ${userSiteDTOList}">
				<div class="panel-heading">
					<h4 class="panel-title">
						<!--<input type="checkbox" th:field="*{userSiteDTOList}" th:value="${userSite}">  <span th:text="${userSite.name}"></span>-->
						<input type="checkbox" th:field="${userDTO.userSiteDTOList[__${stat.index}__].siteId}" th:value="${userSite.id}">  <span th:text="${userSite.name}"></span>
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" th:attr="href='#access_'+${userSite.id}">
							<!--<i class="icon-arrow"></i> <span th:text="${userSite.name}"></span>-->
						</a>
					</h4>
				</div>
				<div th:attr="id='access_'+${userSite.id}" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="checkbox" th:each="userGroup,stat2 : ${userGroupList}">
							<label>
								<!--<input type="checkbox" th:field="*{userSiteDTOList.userGroupDTOList}" th:value="${userGroup}">  <span th:text="${userGroup.name}"></span>-->
								<input type="checkbox" th:field="${userDTO.userSiteDTOList[__${stat.index}__].userGroupDTOList[__${stat2.index}__].id}" th:value="${userGroup.id}">  <span th:text="${userGroup.name}"></span>
							</label>
						</div>
					</div>
				</div>
			</div>



		</div>



    </div>









</html>





