<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Meter Reading Variable</h4>
</div>
<div class="modal-body">

	<form id="meter-reading-consumption-variable-add-frm">

	    <input type="hidden" id="variableId">
	    <input type="hidden" id="variableIndex">
	    <input type="hidden" id="variableVersion">
	    <input type="hidden" id="meter_reading_value_id">
	
	    <div class="row">
	        <div class="col-md-6">
	            <div class="form-group">
	                <label class="control-label">Consumption Name</label>
	                <input type="text" class="form-control" id="consumptionVariable" name="consumptionVariable" >
	            </div>
	        </div>
	        <div class="col-md-6">
	                <div class="form-group">
	                    <label class="control-label"> Meter Reading Unit <span class="symbol required"></span></label>
	                    <select id="meterReadingUnitIdForConsumption" name="meterReadingUnitIdForConsumption" class="search-select" style="width: 100%;">
	                        <option value="">&nbsp;</option>
	                        <option th:each="meterReadingUnit : ${meterReadingUnits}" th:value="${meterReadingUnit.id}" th:text="${meterReadingUnit.symbol}">
	                        </option>
	                    </select>
	                </div>
	        </div>
	    </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-blue btn-sm">Close</button>
    <button type="button" class="btn btn-blue btn-sm" id="btn-add-meter-reading-consumption-variable" > <i class="clip-checkmark-circle-2"></i> Add
    </button>
</div>

</html>