<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags"
      xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<head th:include="template/commoncss :: commoncss"></head>

<link type="text/css" rel="stylesheet" th:href="@{/resources/style/select2.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-datepicker.min.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-datetimepicker.min.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-modal-bs3patch.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-modal.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/fileinput/fileinput.min.css}"/>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-switch.css}"/>

<body>

<!-- start: HEADER -->
<div class="navbar navbar-inverse navbar-fixed-top" th:replace="template/commonheader :: commonheader"></div>
<!-- end: HEADER -->

<!-- start: MAIN CONTAINER -->
<div class="main-container">
    <div class="navbar-content">

        <!-- start: SIDEBAR -->
        <div class="main-navigation navbar-collapse collapse">

            <!-- start: MAIN MENU TOGGLER BUTTON -->
            <div class="navigation-toggler">
                <i class="clip-chevron-left"></i> <i class="clip-chevron-right"></i>
            </div>
            <!-- end: MAIN MENU TOGGLER BUTTON -->

            <!-- start: MAIN NAVIGATION MENU -->
            <ul class="main-navigation-menu" th:replace="template/menu :: menu"></ul>
            <!-- end: MAIN NAVIGATION MENU -->
        </div>
        <!-- end: SIDEBAR -->
    </div>

    <div id="status">
    </div>

    <!-- start: PAGE -->
    <div class="main-content">

        <div id="common-modal" class="modal datatable fade" data-backdrop="static" role="dialog" tabindex="-1"
             style="margin-top:10px; position: relative;" data-focus-on="input:first"></div>

        <div class="container">

            <!-- start: PAGE HEADER -->
            <div class="row" th:replace="app/page-header :: pageheader"></div>
            <!-- end: PAGE HEADER -->

            <div class="row btn-bar">
                <a class="btn btn-default btn-sm active tooltips" id="new" th:href="@{/app/add}"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL', T(com.neolith.focus.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.neolith.focus.constants.PagePermission).HAS_NEW_BUTTON_APP_ADD.id)"
                   data-placement="top" data-original-title="Add"> <i class="clip-plus-circle-2 btn-new"></i> New
                </a>
                <a class="btn btn-default btn-sm active tooltips" id="save" data-placement="top"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL', T(com.neolith.focus.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.neolith.focus.constants.PagePermission).HAS_SAVE_BUTTON_APP_ADD.id)"
                   data-original-title="Save" onclick="document.getElementById('app_add_btn').click();"> <i class="clip-checkmark-circle-2 btn-save"></i> Save
                </a>
                <a class="btn btn-default btn-sm active tooltips" id="delete" th:href="@{/app/delete(id=${app.id})}"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL', T(com.neolith.focus.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.neolith.focus.constants.PagePermission).HAS_DELETE_BUTTON_APP_ADD.id)"
                   th:disabled="${app.id} == null ? 'disabled'" data-placement="top" data-original-title="Delete"> <i class=" clip-cancel-circle-2 btn-delete"></i> Delete
                </a>
                <a class="btn btn-default btn-sm active tooltips" id="cancel" th:href="@{/app/}"
                   sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL', T(com.neolith.focus.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.neolith.focus.constants.PagePermission).HAS_CANCEL_BUTTON_APP_ADD.id)"
                   data-placement="top" data-original-title="Back"> <i class="clip-arrow-left-2 "></i> Cancel
                </a>
            </div>
            <!-- start: PAGE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="icon-custom icon-apps"></i> App
                        </div>
                        <div class="panel-body">

                            <div th:replace="template/messageview :: message"></div>

                            <form role="form" id="app_add_frm" th:action="@{/app/save}" th:object="${app}" method="post">

                                <input type="hidden" th:field="*{id}" id="appId"/>
                                <input type="hidden" th:field="*{version}" id="appVersion"/>

                                <div class="row" style="visibility: hidden;">
                                    <button id="app_add_btn" type="submit"></button>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Name </label>
                                            <input type="text" placeholder="App Name" class="form-control"
                                                   th:field="*{name}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"> Subscription Rate </label>
                                            <input type="text" placeholder="App Rate" class="form-control"
                                                   th:field="*{rate}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <span class="symbol required"></span>Required Fields
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="tabbable">
                                            <ul id="myTab" class="nav nav-tabs tab-bricky">
                                                <li class="active"><a href="#menu_tab" data-toggle="tab"> Menus </a></li>
                                                <li><a href="#app_tab" data-toggle="tab"> Apps </a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane in active" id="menu_tab">
                                                    <div th:replace="app/tab/app-menu-tab :: appMenuTabFragment"></div>
                                                </div>
                                                <div class="tab-pane in" id="app_tab">
                                                    <div th:replace="app/tab/related-app-tab :: relatedAppTabFragment"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- end: PAGE CONTENT-->
                        </div>
                    </div>
                </div>
                <!-- end: PAGE -->
            </div>
            <!-- end: MAIN CONTAINER -->
        </div>
    </div>
</div>

<!-- start: FOOTER -->
<div class="row" th:replace="template/footer :: footer"></div>
<!-- end: FOOTER -->

<!-- start: MAIN JAVASCRIPTS -->
<div th:include="template/commonjs :: commonjs"></div>
<!-- end: MAIN JAVASCRIPTS -->

<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/dataTables.bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.spring-friendly.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootbox.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/jquery.mockjax.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/moment-duration-format.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-modal.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-modalmanager.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/fileinput/fileinput.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-switch.js}"></script>

<script type="text/javascript" th:src="@{/resources/script/app/util/focus-button-util.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/util/focus-validation-util.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/util/common-component-util.js}"></script>

<script type="text/javascript" th:src="@{/resources/script/app/app/init.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/app/add-view.js}"></script>

<script type="text/javascript" th:src="@{/resources/script/app/app/tab/app-menu-tab.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/app/tab/related-app-tab.js}"></script>

<script type="text/javascript" th:src="@{/resources/script/app/app/modals/menu-select-modal.js}"></script>
<script type="text/javascript" th:src="@{/resources/script/app/app/modals/app-select-modal.js}"></script>

<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

<!-- Inline JavaScript-->

<script th:inline="javascript">
    var appMenus = [[${app.appMenus}]];
    var relatedApps = [[${app.relatedApps}]];
</script>

</body>

</html>