<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags" xmlns="http://www.w3.org/1999/xhtml">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick='AssetEventTypeHome.closeModal()'>&times;</button> 
    <h4 class="modal-title">Add Assent Event Type</h4>    
</div>
 
<div class="modal-body">

    <!-- start: PAGE CONTENT -->
	<div class="row" style="margin-top: 15px">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body"> 
					<a class="btn btn-default btn-sm active tooltips" id="new" sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL')"
						onclick='AssetEventTypeHome.addModal()' data-placement="top" data-original-title="Add"> <i
						class="clip-plus-circle-2  btn-new"></i> New
					</a>
                    <a class="btn btn-default btn-sm active tooltips" id="save" data-placement="top"
                       onclick='AssetEventTypeHome.saveModal()'> <i class="clip-checkmark-circle-2 btn-save"></i> Save
                    </a>
					<a class="btn btn-default btn-sm active tooltips" id="delete" th:onclick="'AssetEventTypeHome.deleteInsideModal(\''+ ${assetEventType.id} +'\')'"
	                    th:disabled="${assetEventType.id} == null ? 'disabled'"
	                    sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL')" data-placement="top" data-original-title="delete"> <i
						class=" clip-cancel-circle-2 btn-delete"></i> Delete
					</a> 
					<a class="btn btn-default btn-sm active tooltips" id="cancel" onclick='AssetEventTypeHome.closeModal()'
						sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL')"
						data-placement="top" data-original-title="back"> <i class="clip-arrow-left-2 "></i> Cancel
					</a>
				</div>
			</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<div th:replace="template/messageview :: message"></div>
				<form th:action="@{/assetEventType/save}" method="post" role="form" th:object="${assetEventType}" id="assetEventTypeForm">	                               
                    <input type="hidden" id="id" name="id" th:field="*{id}"/>
                    <input type="hidden" id="version" name="version" th:field="*{version}"/>				
					<div class="row"> 
						<div class="col-md-6">
                           	<div class="form-group">
                              	<label class="control-label"> Business <span class="symbol required"></span> </label>
                              	<select id="assetEventBusinessId" th:field="*{businessId}" class="search-select" style="width: 100%;">
                                    <option th:each="business : ${businesses}" th:value="${business.id}" th:text="${business.name}"></option>
								</select>
                             </div>
                        </div>
						<div class="col-md-6">
							<div class="form-group">
	                            <label class="control-label"> Name<span class="symbol required"></span></label>
	                            <input type="text" placeholder="Eg:breakdown" class="form-control" id="name" name="name" th:field="*{name}"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
	                            <label class="control-label"> Description<span class="symbol required"></span> </label>
	                            <input type="text" placeholder="Write description asset event type" class="form-control" id="description" name="description" th:field="*{description}"/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
	                            <label class="control-label"> Code<span class="symbol required"></span> </label>
	                            <input type="text" placeholder="Eg:12xxxx" class="form-control" id="code" name="code" th:field="*{code}"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div>
								<span class="symbol required"></span>Required Fields
								<hr>
							</div>
						</div>
					</div>
					</form>
				</div>
			</div> 
		</div> 
	</div>
				<!-- end: PAGE CONTENT--> 
    <!-- end: PAGE --> 
</div> 

</html>