<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<div th:fragment="accountTabFragment">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label"> Account </label>
				<div class="input-group">
					<input type="hidden" th:field="*{accountId}" id="accountId">
					<input type="text" th:field="*{accountName}" id="accountName" readonly placeholder="Please specify a account">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label"> Charge Department </label>
				<div class="input-group">
					<input type="hidden" th:field="*{chargeDepartmentId}" id="chargeDepartmentId">
					<input type="text" th:field="*{chargeDepartmentName}" id="chargeDepartmentName" readonly placeholder="Please specify a account">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label"> Purchase Currency </label>
				<div class="input-group">
					<input type="hidden" th:field="*{purchaseCurrencyId}" id="purchaseCurrencyId">
					<input type="text" th:field="*{purchaseCurrencyName}" id="purchaseCurrencyName" readonly>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label">PO Reference Number</label>
				<input type="text" class="form-control" >
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Send Using<span class="symbol required"></span>
				</label> 
				<select id="sendUsing" class="search-select" style="width: 100%;">
					<option value="1">Email</option>
					<option value="2">Phone</option>
					<option value="3">Fax</option>
				</select>
			</div>
		</div>
	</div>
</div>
</html>