<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<div th:fragment="shippingTabFragment">
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label"> Supplier </label>
				<div class="input-group">
					<input type="hidden" th:field="*{supplierId}" id="supplierId">
					<input type="text" th:field="*{supplierName}" id="supplierName" readonly placeholder="Please specify a supplier">
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label"> Ship To </label>
				<div class="input-group">
					<input type="hidden" th:field="*{shipToId}" id="shipToId">
					<input type="text" th:field="*{shipToName}" id="shipToName" readonly placeholder="Please specify a location">
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label"> Bill To </label>
				<div class="input-group">
					<input type="hidden" th:field="*{billToId}" id="billToId">
					<input type="text" th:field="*{billToName}" id="billToName" readonly placeholder="Please specify a location">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
           <div class="form-group">
			<label class="control-label">Supplier Address</label>
			  <textarea th:field="*{supplierAddress}" class="form-control" ></textarea>
          </div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label">Ship Address</label>
                <textarea th:field="*{shipToAddress}" class="form-control" ></textarea>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label">Bill Address</label>
                <textarea th:field="*{billToAddress}" class="form-control" ></textarea>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
           <div class="form-group">
				<label class="control-label">City</label>
                <input type="text" th:field="*{supplierCity}" class="form-control" >
          </div>
		</div>
			<div class="col-md-4">
			<div class="form-group">
				<label class="control-label">City</label>
				<input type="text" th:field="*{shippingCity}" class="form-control" >
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label">City</label>
                <input type="text" th:field="*{billingCity}" class="form-control" >
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
                <div class="form-group">
				<label class="control-label">Province</label>
                <input th:field="*{supplierProvince}" type="text" class="form-control" >
          </div>
		</div>
			<div class="col-md-4">
			<div class="form-group">
				<label class="control-label">Province</label>
                <input type="text" th:field="*{shippingProvince}" class="form-control" >
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label">Province</label>
                <input type="text" th:field="*{billingProvince}"class="form-control" >
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
                <div class="form-group">
				<label class="control-label">Postal Code</label>
                <input type="text" th:field="*{supplierPostalCode}" class="form-control" >
          </div>
		</div>
			<div class="col-md-4">
			<div class="form-group">
				<label class="control-label">Postal Code</label>
                <input type="text" th:field="*{shippingPostalCode}" class="form-control" >
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label">Postal Code</label>
                <input type="text" th:field="*{billingPostalCode}" class="form-control" >
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label"> Country </label>
				<div class="input-group">
					<input type="hidden" th:field="*{supplierCountry}" id="supplierCountry">
					<input type="text" th:field="*{supplierCountryName}" id="supplierCountryName" readonly>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label"> Country </label>
				<div class="input-group">
					<input type="hidden" th:field="*{shipToCountry}" id="shipToCountry">
					<input type="text" th:field="*{shipToCountryName}" id="shipToCountryName" readonly>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="control-label"> Country </label>
				<div class="input-group">
					<input type="hidden" th:field="*{billToCountry}" id="billToCountry">
					<input type="text" th:field="*{billToCountryName}" id="billToCountryName" readonly>
				</div>
			</div>
		</div>
	</div>
</div>
</html>