<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="statusChangeTabFragment">

    <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">
            <table class="table table-striped table-bordered table-hover table-full-width" style="width:100%;">
                <thead>
                <tr>
                    <th> #</th>
                    <th class='hidden-xs'> Date</th>
                    <th> User</th>
                    <th> Description</th>                    
                    <th> Status</th>
                </tr>
                </thead>
                <tbody th:if="${not #lists.isEmpty(purchaseOrder.purchaseOrderChangeLogDTOs)}">
                <tr th:each="purchaseOrderChangeLogDTO,iter : ${purchaseOrder.purchaseOrderChangeLogDTOs}">
                    <td><span th:text="${iter.index+1}"></span></td>
                     <td><b> <span th:text="${#dates.format(purchaseOrderChangeLogDTO.statusChangeDate,'yyyy-MM-dd HH:mm:ss')}"></span> </b></td>
                    <td><span th:text="${purchaseOrderChangeLogDTO.changeUserName}"></span></td>
                  	 <td><span th:text="${purchaseOrderChangeLogDTO.description}"></span></td>
                    <td><span th:text="${purchaseOrderChangeLogDTO.statusName}"></span></td>
                </tr>
                </tbody>
            	<tbody th:if="${#lists.isEmpty(purchaseOrder.purchaseOrderChangeLogDTOs)}">
                <tr>
                    <td colspan="9" style="text-align:center;"><i>Table Data Not Found.</i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>