<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<div class="row" th:fragment="pageheader">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb">
            <li><i class="clip-home-3"></i> <a th:href="@{/dashboard}"> <span th:text="#{home.keyword}"/> </a></li>
            <li><span th:text="#{stock.keyword}"/></li>
            <li class="active"><span th:text="#{stock.keyword}"/></li>
        </ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>

