<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.springframework.org/security/tags">

<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick='CertificationHome.closeModal()'>&times;</button>
	<h4 class="modal-title">Add Certification</h4>
</div>

<div class="modal-body">
	<!-- start: PAGE CONTENT -->
	<div class="row" style="margin-top: 15px">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">

					<a class="btn btn-default btn-sm active tooltips" id="new" sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL')"
						onclick='CertificationHome.addModal()' data-placement="top"
						data-original-title="Add"> <i class="clip-plus-circle-2  btn-new"></i> New
					</a> 
					<a class="btn btn-default btn-sm active tooltips" sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL')"
						id="save" data-placement="top" data-original-title="Save" onclick='CertificationHome.saveModal()'> <i
						class="clip-checkmark-circle-2 btn-save"></i> Save
					</a> 
					<a class="btn btn-default btn-sm active tooltips" th:disabled="${certification.id} == null ? 'disabled'" id="delete"
						th:onclick="'CertificationHome.deleteInsideModal(\''+ ${certification.id} +'\')'"
						data-placement="top" sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL')"
						data-original-title="delete"> <i class=" clip-cancel-circle-2 btn-delete"></i> Delete
					</a> 
					<a class="btn btn-default btn-sm active tooltips" id="cancel"
						onclick='CertificationHome.closeModal()' sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL')"
						data-placement="top" data-original-title="back"> <i class="clip-arrow-left-2 "></i> Cancel
					</a>
					
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div th:replace="template/messageview :: message"></div>
					<form action="#" th:action="@{/certification/save}" method="post"
						role="form" th:object="${certification}" id="certificationAddForm">
						
						<input type="hidden" id="id" name="id" th:field="*{id}" /> 
						<input type="hidden" id="version" name="version" th:field="*{version}" />
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label"> Certification Type <span class="symbol required"></span> </label> 
									<input type="text" placeholder="Eg:OS&H - Construction Safety & Health Certificate" class="form-control" id="certificationType" name="certificationType" th:field="*{certificationType}" />
								</div>
							</div>
							<div class="col-md-6">
                                 <div class="form-group">
                                     <label class="control-label"> Business <span class="symbol required"></span> </label>
                                     <select id="certificationBusinessId" th:field="*{businessId}" class="search-select" style="width: 100%;">
                                         <option th:each="business : ${businesses}" th:value="${business.id}" th:text="${business.name}"></option>
                                     </select>
                                 </div>
                             </div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div>
									<span class="symbol required"></span>Required Fields
									<hr>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- end: PAGE CONTENT-->
</div>
<!-- end: MAIN CONTAINER -->
</html>