<html>
<head>

</head>
    <body>
    <h3>Dear ${name},</h3>
 
        <div>
        	Password reset token for Username <b>${userName}</b><br>
            <a href="${appUrl}${restTokenUrl}"> click to reset your password</a>.
            
        </div>
        <span>Thank you</span>
        
    </body>

</html>