<html>
<head>

</head>
    <body>
        <h3>Dear Dear Sir/Madam,</h3>
 
        <div>
            Please send a quotation for following attachment.
            
        </div>
        <span>Thank you</span>
        
    </body>
</html>
</html>