<html>
<head>

</head>
    <body>
        <h3>Dear ${user},</h3> 
        <div>
            <p> Your User name : <b>${userName}</b>. </p>           
            <p> Your Password : <b>${password}</b>. </p>           
        </div>
        <span>Thank you</span>
        
    </body>
</html>