<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<div th:fragment="locationTabFragment">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label">Address</label>
                <textarea placeholder="Insert the Address" name="address" class="form-control" th:field="*{address}"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">City</label>
                <input type="text" placeholder="Insert the City" th:field="*{city}" class="form-control" name="city">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Province</label>
                <input type="text" placeholder="Insert the Province" th:field="*{province}" class="form-control" name="province">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Postal Code</label>
                <input type="text" placeholder="Insert the Postal Code" th:field="*{postalCode}" class="form-control" name="postalCode">
            </div>
        </div>
		<div class="col-md-6">
			<div class="form-group">
	            <label class="control-label"> Country </label>
	            <div class="input-group">
	                <input type="hidden" id="countryId" th:field="*{countryId}">
	                <input type="text" id="countryName" th:field="*{countryName}" readonly class="form-control" >                     
	            </div>
            </div>		
		</div>
    </div>
</div>

</html>