<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div class="row" th:fragment="pageheader">
    <div class="col-sm-12">
        <!-- start: PAGE TITLE & BREADCRUMB -->
        <ol class="breadcrumb" >
            <li><i class="clip-home-3"></i> <a th:href="@{/dashboard}">Home</a></li>
            <li>Assets</li>
            
            <li th:if="${type != T(com.codex.ecam.constants.AssetCategoryType).LOCATIONS_OR_FACILITIES}" th:class="active">Hotel Asset</li>
            <li th:if="${type == T(com.codex.ecam.constants.AssetCategoryType).LOCATIONS_OR_FACILITIES}" th:class="active">Facility/Locations</li>
		</ol>
        <!-- end: PAGE TITLE & BREADCRUMB -->
    </div>
</div>

