<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml" class="no-js">

<div class="row none" id="divByMeterReadingTrigger" th:fragment="ByMeterReadingTrigger">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Asset Meter Reading <span class="symbol required"></span></label> 
                            <select id="mrtAssetMeterReadingId" name="mrtAssetMeterReadingId" class="search-select" style="width: 100%;">
                                <option value="">&nbsp;</option>
                            </select>
                        </div>
                    </div>
                </div>
               <div class="row">
					<div class="col-md-6">
                        <label class="radio-inline">
                            <input type="radio" value="EVERY" name="mrtType" class="grey" id="everyRadioBtn" checked="checked"> Every
						</label>
                        <label class="radio-inline">
                            <input type="radio" value="WHEN" name="mrtType" class="grey" id="whenRadioBtn"> When
						</label>
					</div>
				</div>
                <div class="none" id="divEvery">
                    <div class="row">
                    	 <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Every  <span class="symbol required"></span> </label>
                                <input id="mrtEveryValue" name="mrtEveryValue" placeholder="Insert Meter Reading" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Start At  <span class="symbol required"></span> </label>
                                <input id="mrtStartMeterReading" name="mrtStartMeterReading" placeholder="Insert Start Meter Reading" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
	                        <div class="form-group">
	                            <label class="control-label"> Ending by </label>
	                            <input id="mrtEndMeterReading" name="mrtEndMeterReading" placeholder="Insert Ending Meter Reading" type="text" class="form-control">
	                        </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-md-4"></div>
                    	<div class="col-md-4"></div>
                        <div class="col-md-4">
                            <label class="radio-inline"> 
                            	<input type="checkbox" id="mrtNoEndReading" class="grey">No Ending Meter Reading
                            </label>
                        </div>
                    </div>

                </div>
                <div class="row none" id="divWhen">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Condition <span class="symbol required"></span> </label>
                            <select id="mrtLogicType" name="mrtLogicType" class="search-select" style="width: 100%;">
                                <option value="">&nbsp;</option>
                                <option th:each="meterReadingLogic : ${meterReadingLogicTypes}" th:value="meterReadingLogic" th:text="${meterReadingLogic.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Meter Reading <span class="symbol required"></span></label> 
                            <input id="mrtConditionValue" name="mrtConditionValue" type="text" class="form-control">
                        </div>
                    </div>

                </div>
<!--                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" value="true" name="mrtIsFixed" class="grey" checked="checked"
                                       id="mrtIsFixed"> Fixed
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value="false" name="mrtIsFixed" class="grey" id="mrtIsFloating">
                                Floating
                            </label>
                        </div>
                    </div>
                </div> -->
            </div>
		</div>
    </div>
</div>
</html>