<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml"
      class="no-js">

<head th:include="template/commoncss :: commoncss"></head>
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/select2.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/dataTables.bootstrap.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-modal-bs3patch.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/resources/style/bootstrap-modal.css}" />

<body>
    <!-- start: HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top" th:replace="template/commonheader :: commonheader"></div>
    <!-- end: HEADER -->
    
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
    
      	<!-- start: NAV-BAR -->
        <div class="navbar-content">
            <!-- start: SIDEBAR -->
            <div class="main-navigation navbar-collapse collapse">
            
                <!-- start: MAIN MENU TOGGLER BUTTON -->
                <div class="navigation-toggler">
                    <i class="clip-chevron-left"></i>
                    <i class="clip-chevron-right"></i>
                </div>
                <!-- end: MAIN MENU TOGGLER BUTTON -->
                
                <!-- start: MAIN NAVIGATION MENU -->
                <ul class="main-navigation-menu" th:replace="template/menu :: menu"></ul>
            </div>
            <!-- end: SIDEBAR -->
        </div>
  		<!-- end: NAV-BAR -->
	  


        <!-- start: PAGE -->
        <div class="main-content">
            <div class="container">
            
                <!-- start: PAGE HEADER -->
				<div class="row" th:replace="biz/notification/common/page-header-system :: notificationPageheader"></div>
                <!-- end: PAGE HEADER -->

				<div th:replace="general/modal/modal-base :: modalFragment "></div> 

				<div class="row btn-bar" >
                    <a class="btn btn-default btn-sm active tooltips" id="cancel" th:disabled="disabled" data-placement="top" data-original-title="Back">
						<i class="clip-arrow-left-2 "></i> <span class="hidden-xs"> Cancel</span>
					</a>
				</div>

				<!-- start: PAGE CONTENT -->
				<div class="row">
                    <div id="stackable-datatable-modal" class="modal datatable fade"
                         data-backdrop="static" role="dialog"
                         tabindex="-1"
                         data-focus-on="input:first"
                         style="margin-bottom: 0px; bottom: auto; top: 50%; position: relative;">
                        <div class="modal-content"></div>
                    </div>
				</div>

				<div class="row">                
	                <div class="col-xs-12 col-sm-12 col-md-12">
						<div class="panel panel-default">							
							<div class="panel-heading">
						       <i class=" clip-archive"></i> Inbox Notification
						       <div class="panel-tools">
						            <a class="btn btn-xs btn-link panel-collapse collapses" href="#"> </a>
				                    <a class="btn btn-xs btn-link panel-refresh" href="#"> <i class="fa fa-refresh"></i> </a>
						       </div>
						   	</div>
						   	
						   	<div class="panel-body">

								<table class="table table-striped table-bordered table-hover table-full-width"
									   id="tbl_notification_list">
									<thead style='display:none;'>
									<tr>
										<th class="first-col">#</th>
										<th>Subject</th>
										<th>Preview</th>
										<th>Trash</th>
										<th>Delete</th>
									</tr>
									</thead>
									<tbody></tbody>
								</table>
								<br>
								<hr>
				            </div>
					 	</div>
					</div> 
				
				</div>
				<!-- end: PAGE CONTENT --> 
			
			</div>
        </div>
        <!-- end: PAGE -->
        
  	</div>
    <!-- end: MAIN CONTAINER -->
   

   
   
    <!-- start: FOOTER -->
   	<div class="row" th:replace="template/footer :: footer"></div>
    <!-- end: FOOTER -->
    
    <!-- start: MAIN JAVASCRIPTS -->
    <div th:include="template/commonjs :: commonjs"></div>

    <script type="text/javascript" th:src="@{/resources/script/libs/bootbox.js}"></script>
    <script type="text/javascript" th:src="@{/resources/script/libs/jquery.mockjax.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/script/libs/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/script/libs/jquery.dataTables.js}"></script>
    <script type="text/javascript" th:src="@{/resources/script/libs/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/script/libs/jquery.spring-friendly.js}"></script>
    <script type="text/javascript" th:src="@{/resources/script/libs/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-modal.js}"></script>
    <script type="text/javascript" th:src="@{/resources/script/libs/bootstrap-modalmanager.js}"></script>
	<script type="text/javascript" th:src="@{/resources/script/libs/moment.min.js}"></script>

	<!-- end: MAIN JAVASCRIPTS -->

    <script type="text/javascript" th:src="@{//cdn.ckeditor.com/4.8.0/standard/ckeditor.js}"></script>
    <!--<script type="text/javascript" th:src="@{/resources/script/libs/ckeditor/ckeditor.js}"></script>-->
	<script type="text/javascript" th:src="@{/resources/script/app/util/focus-button-util.js}"></script>
	<script type="text/javascript" th:src="@{/resources/script/app/util/focus-validation-util.js}"></script>
	<script type="text/javascript" th:src="@{/resources/script/app/util/common-component-util.js}"></script>

	<!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
	<script type="text/javascript" th:src="@{/resources/script/app/biz/notification/system-inbox-view.js}"></script>
    	<!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

    <script>
        jQuery(document).ready(function() {
            Main.init();
            InboxNotification.initInbox();

			/* $('#tbl_notification_list tbody').on('click', 'tr', function () {
			 var data = table.row( this ).data();
			 alert( 'You clicked on '+data[0]+'\'s row' );
			 } );*/

			/*$(document).on('click', '.clsNotificationPreview', function () {
                InboxNotification.previewNotification(this);
			 });*/
        });
    </script>

</body>

</html>
