<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags" class="no-js">

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Sub Category Add</h4>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body"  th:fragment="formFragment">

					<div th:replace="template/messageview :: message"></div>

                    <form th:action="@{/assetCategory/save?module=asset}" id="warehouseCategoryAddForm" method="post" role="form" th:object="${assetCategory}">
                    
						<input type="hidden" id="type" name="type" th:value="${type}" />
						<input type="hidden" id="sysCode" name="sysCode" th:value="${sysCode}" />
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label"> Name <span class="symbol required"></span>
									</label> 
									<input type="text" placeholder="Eg:Equipments" class="form-control" id="name" name="name" th:field="*{name}" />
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label"> Parent Asset Category <span class="symbol required"></span>
									</label> 
									<select th:field="*{parentId}" class="search-select" style="width: 100%;">
										<option value="">&nbsp;</option>
										<option th:each="parent : ${assetCategoryParents}" th:value="${parent.id}" th:text="${parent.name}">
										</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
                                    <label class="control-label"> Description <span class="symbol required"></span>
                                    </label>
									<textarea th:field="*{description}" placeholder="write description about asset category"
										class="form-control" id="description" name="description"></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div>
									<span class="symbol required"></span> Required Fields
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-blue btn-sm active tooltips" id="categorySave" data-placement="top" data-original-title="Save"
	    sec:authorize="hasAnyAuthority('ADMIN_LEVEL', 'SYSTEM_LEVEL', T(com.neolith.focus.util.AuthenticationUtil).PAGE_PERMISSION_PREFIX + T(com.neolith.focus.constants.PagePermission).HAS_NEW_BUTTON_ASSET_CATEGORY_ADD.id)"
	   	onclick="WarehouseCategoryAddModal.saveCategory();" ><i class="clip-checkmark-circle-2"></i> Save
	</button>
	<button type="button" data-dismiss="modal" class="btn btn-sm btn-blue">Close</button>
</div>
</html>