<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
	<div th:fragment="assetWorkOrderHistoryCalendar">
	    <div class="core-box">
            <div class="heading">
                <i class="icon-custom icon-work-order circle-icon circle-bricky"></i>
                <h2>Asset Work Order History</h2>
            </div> 
        </div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="clip-pie"></i>
				<div class="panel-tools">
					<a class="btn btn-xs btn-link panel-collapse collapses" href="#"> </a> 
					<a class="btn btn-xs btn-link panel-refresh" href="#">
						<i class="fa fa-refresh"></i>
					</a> 
				</div>
			</div>
			<div class="panel-body"> 
				<div id="calendar"></div>
			</div>
		</div>
	</div>
</html>