
.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}

.circle-tile-heading {
    position: relative;
    width: 50px;
    height: 50px;
    margin: -10px auto -80px;
    border: 2px solid rgba(255,255,255,255);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
    font-size:10px;
    padding: 0px 0px 0px 0.5px;
    line-height:5;
}
.circle-tile-title{
	font-size: 22px;
	color: #fff;
	position: relative;
	padding: 12px 0 34px 0;
	background-color: #272727;
	border-radius: 5px 5px 0 0;
}
}

.circle-tile-heading .fa {
    line-height: 45px;
}

.circle-tile-content {
    padding-top: 80px;
    border-radius: 0 0 5px 5px;
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin-top: 18px;
}

.circle-tile-description {
    text-transform: uppercase;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
    border-radius: 0 0 5px 5px;
    font-size: 15px;
}

.circle-tile-footer:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.2);
}

.circle-tile-heading.dark-blue:hover {
    background-color: #2e4154;
}

.circle-tile-heading.green:hover {
    background-color: #138f77;
}

.circle-tile-heading.orange:hover {
    background-color: #da8c10;
}

.circle-tile-heading.blue:hover {
    background-color: #2473a6;
}

.circle-tile-heading.red:hover {
    background-color: #cf4435;
}

.circle-tile-heading.purple:hover {
    background-color: #7f3d9b;
}

.text-faded {
    color: rgba(255,255,255);
}

.box-dark-blue {
    background-color: #34495e;
    
}

.box-green {
    background-color: #16a085;
}

.box-blue {
    background-color: #2980b9;
}

.box-light-blue {
    background-color: #42a5f5;
    margin-top: -30px;
}

.box-orange {
    background-color: #f39c12;
}

.box-red {
    background-color: #eb393d;
    margin-top: -30px;
}

.box-purple {
    background-color: #8e44ad;
}

.box-dark-gray {
    background-color: #7f8c8d;
}

.box-gray {
    background-color: #95a5a6;
}

.box-light-gray {
    background-color: #bdc3c7;
}

.box-yellow {
    background-color: #f1c40f;
}


.box-dark-blue {
    background-color: #696465;
    margin-top: -30px;
}

.box-darker-blue {
    background-color: #4b4647;
    margin-top: -30px;
}

.box-blue {
    background-color: #1976D2;
}

.box-light-blue {
    background-color: #867e7f;
}

.box-lighter-blue {
    background-color: #64B5F6;
}

.section-header h2{
	margin-top: 0;
	font-size: 18px;
	color: #666;
}

.section-header hr{
	border: 1px solid  #eb3a3e;
}

.canvas.doughnut { 
	margin: 0 auto;
};