<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      class="no-js">
	
<div th:fragment="completetionTabFragment">
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
                <label class="control-label"> Required Completion Date </label>
				<div class="input-group" id="picker-container">
					<input th:field="*{forDate}" type="text" data-date-format="dd-mm-yyyy" data-date-viewmode="years" class="form-control date-picker" placeholder="Please Specify a Required Completion Date">
                    <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
				</div>
			</div>
		</div>
		<div class="col-md-4">
	        <div class="form-group">
	        	<label class="control-label"> Account <span class="symbol required"></span></label>
		        <div class="input-group">
		            <input type="hidden" th:field="*{accountId}">
		            <input type="text" th:field="*{accountName}" readonly class="form-control">
		        </div>
	        </div>
        </div>
		<div class="col-md-4">
	        <div class="form-group">
	        	<label class="control-label"> Charge Department <span class="symbol required"></span></label>
		        <div class="input-group">
		            <input type="hidden" th:field="*{chargeDepartmentId}">
		            <input type="text" th:field="*{chargeDepartmentName}" readonly class="form-control">
		        </div>
	        </div>
        </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label"> Completion </label>
				<textarea th:field="*{completionNotes}" placeholder="Insert a Description about the Completion" class="form-control"></textarea>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label"> Problem </label> 
				<input th:field="*{problem}" type="text" placeholder="Briefly outline the problem" class="form-control">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label"> Root cause </label> 
				<input th:field="*{rootCause}" type="text" placeholder="Short description of the cause of the issue" class="form-control" >
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label class="control-label"> Solution </label> 
				<input th:field="*{solution}" type="text" placeholder="Short description of the solution" class="form-control" >
			</div>
		</div>
	</div>
</div>
</html>