<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="customerHistoryTabFragment">

    <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">
            <table class="table table-striped table-bordered table-hover table-full-width" id="asset_customer_history_tbl"
		           style="width: 100%">
		        <thead>
		        <tr>
		            <th class="first-th"> # </th>
		            <th> Name </th>
		            <th class="hidden-xs"> Address </th>
		            <th> Date </th>
		        </tr>
		        </thead>
		        <tbody>
		        </tbody>
		    </table>
        </div>
    </div>
</div>
</html>