<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js">
<div th:fragment="locationTabFragment">
<div class="row">
	<div id="map-container" class="col-md-6"></div>
	<div class="col-md-6">
	  <div class="form-group">
	      <label class="control-label"> Longitude
	      </label>
	      <input type="number" class="form-control" id="longitude" th:field="*{locationDTO.longitude}" >
	    </div>
		<div class="form-group">
		    <label class="control-label"> Latitude 
		    </label>
		    <input type="number"  class="form-control" id="latitude" th:field="*{locationDTO.latitude}" >
		</div>
	</div>
</div>
</div>
</html>