<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" class="no-js">
<div th:fragment="assetLogTableFragment">
    <div class="row">
        <div class="col-md-12">
            <table style="width: 100%" class="table table-striped table-bordered table-hover" id="asset_log_tbl">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Log Date</th>
                    <th>User</th>
                    <th class="hidden-xs">Completion Note</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
</html>