<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">
<div th:fragment="machineGeneralTabFragment">
		 <div class="row">
             <div class="col-md-6">
				<div class="form-group">
	                <label class="control-label"> Owner </label>
	                <div class="input-group">
						<input type="hidden" th:field="*{customerId}">
						<input type="text" th:field="*{customerName}" readonly id="customerName">						
					</div>
             	</div>			
			</div>       	
        	<div class="col-md-6">
	            <div class="form-group">
                    <label class="control-label">
                         Manufacturer/Brand <span class="symbol required"></span>
                    </label>
                    <div class="input-group">
                        <input type="hidden" th:field="*{brand}">
                        <input type="text" th:field="*{brandName}" readonly class="form-control" placeholder="Select Brand" id="brandName">                     
                    </div>
	            </div>
            </div>
        </div>
		<div class="row">
            <div class="col-md-6">
	            <div class="form-group">
                    <label class="control-label">
                         Model <span class="symbol required"></span>
                    </label>
                    <div class="input-group">
                        <input type="hidden" th:field="*{model}">
                        <input type="text" th:field="*{modelName}" readonly class="form-control" placeholder="Select Model" id="modelName">                     
                    </div>
	            </div>
            </div>	   
            <div class="col-md-6">
		    	<div class="form-group">
		            <label class="control-label">Serial No</label>
		            <input type="text" placeholder="Insert the Serial Number" th:field="*{serialNo}" class="form-control" id="serialNo" name="serialNo">
		        </div>
		    </div>
		</div>
		<div class="row">
            <div class="col-md-6">
	            <div class="form-group">
                    <label class="control-label">
                         Department <span class="symbol required"></span>
                    </label>
                        <input type="text" th:field="*{department}" readonly class="form-control" placeholder="Select Model" id="modelName">                     
	            </div>
            </div>	   
		</div>
        <div class="row">	
            <div class="col-md-6">
		    	<div class="form-group">
		            <label class="control-label">Size  </label>
		            <input type="text" th:field="*{size}" class="form-control" id="size">
		        </div>
            </div>
            <div class="col-md-6">
		    	<div class="form-group">
		            <label class="control-label">Quantity</label>
		            <input type="text"  th:field="*{quantity}" class="form-control" id="quantity" > 
		        </div>
		    </div>
		</div>
        <div class="row">	
            <div class="col-md-6">
		    	<div class="form-group">
		            <label class="control-label">Unit Cost  </label>
		            <input type="text" th:field="*{unitCost}" class="form-control" id="unitCost">
		        </div>
            </div>
            <div class="col-md-6">
		    	<div class="form-group">
		            <label class="control-label">Total Cost</label>
		            <input type="text"  th:field="*{totalCost}" class="form-control" id="totalCost" > 
		        </div>
		    </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
                    <label class="control-label">Notes</label>
                    <textarea placeholder="Insert the Notes" id="notes" name="notes" class="form-control" th:field="*{notes}"></textarea>
                </div>			
			</div>
		</div>	
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
                    <label class="control-label">Remark</label>
                    <textarea placeholder="Insert the Remark" id="remark" name="remark" class="form-control" th:field="*{remark}"></textarea>
                </div>			
			</div>
		</div>	
	</div>
</html>