<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="purchasingTabFragment">

    <input type="hidden" id="receiptOrderId" th:field="*{assetPurchasingDetail.receiptOrderId}"/>
    <input type="hidden" id="orderVersion" th:field="*{assetPurchasingDetail.orderVersion}"/>
    <input type="hidden" id="itemVersion" th:field="*{assetPurchasingDetail.itemVersion}"/>

    <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">
            <div class="row">
            	<div class="col-md-6">
		            <div class="form-group">
	                    <label class="control-label"> Purchase From <span class="symbol required"></span> </label>
	                    <div class="input-group">
	                        <input type="hidden" id="purchasedSupplierId" th:field="*{assetPurchasingDetail.purchasedSupplierId}">
	                        <input type="text" id="purchasedSupplierName" th:field="*{assetPurchasingDetail.purchasedSupplierName}" readonly class="form-control">                     
	                    </div>
		            </div>
	            </div>
            	<div class="col-md-6">
		            <div class="form-group">
	                    <label class="control-label"> Purchase Currency <span class="symbol required"></span> </label>
	                    <div class="input-group">
	                        <input type="hidden" id="purchasedCurrencyId" th:field="*{assetPurchasingDetail.purchasedCurrencyId}">
	                        <input type="text" id="purchasedCurrencyName" th:field="*{assetPurchasingDetail.purchasedCurrencyName}" readonly class="form-control">                     
	                    </div>
		            </div>
	            </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label"> Date Ordered </label>
                        <div class="input-group" id="picker-container">
                            <input type="text" th:field="*{assetPurchasingDetail.orderedDate}"
                                   data-date-format="dd-mm-yyyy" data-date-viewmode="years"
                                   placeholder="Eg : 08-01-2020" class="form-control date-picker">
                            <span class="input-group-addon"> <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label"> Date Received </label>
                        <div class="input-group" id="picker-container">
                            <input th:field="*{assetPurchasingDetail.receivedDate}" type="text"
                                   data-date-format="dd-mm-yyyy" data-date-viewmode="years"
                                   placeholder="Eg : 08-01-2020" class="form-control date-picker">
                            <span class="input-group-addon"> <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label"> Price </label>
                        <input type="text" th:field="*{assetPurchasingDetail.purchasedPrice}" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label"> Date of Expiry </label>
                        <div class="input-group" id="picker-container">
                            <input th:field="*{assetPurchasingDetail.expiryDate}" type="text"
                                   data-date-format="dd-mm-yyyy" data-date-viewmode="years"
                                   placeholder="Eg : 08-01-2020" class="form-control date-picker">
                            <span class="input-group-addon"> <i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>