<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick='AssetBrandHome.closeModal()'>&times;</button>
    <h4 class="modal-title">Add Asset Brand</h4>
</div>

<div class="modal-body">
    <!-- start: PAGE -->

    <!-- start: PAGE CONTENT -->
    <div class="row" style="margin-top: 15px">
		<div class="col-md-12">
                     
			<div class="panel panel-default">
				<div class="panel-body">

                     <a class="btn btn-default btn-sm active tooltips" id="new" data-placement="top"data-original-title="Add" onclick='AssetBrandHome.addModal()'>
                         <i class="clip-plus-circle-2  btn-new"></i> New
                     </a>
                     <a class="btn btn-default btn-sm active tooltips" id="save" data-placement="top" data-original-title="Save" onclick='AssetBrandHome.saveModal()'>
                         <i class="clip-checkmark-circle-2 btn-save"></i> Save
                     </a>
                     <a class="btn btn-default btn-sm active tooltips" th:disabled="${assetBrand.brandId} == null ? 'disabled'" th:onclick="'AssetBrandHome.deleteInsideModal(\''+ ${assetBrand.brandId} +'\')'" data-placement="top" data-original-title="delete">
                         <i class=" clip-cancel-circle-2 btn-delete"></i> Delete
                     </a>
                     <a class="btn btn-default btn-sm active tooltips" id="cancel" onclick='AssetBrandHome.closeModal()' data-placement="top" data-original-title="Back">
                         <i class="clip-arrow-left-2 "></i> Cancel
                     </a>
                                
				</div>
			</div>
			<div class="panel panel-default" th:fragment="brandFormFragment">
				<div class="panel-body">
					<div th:replace="template/messageview :: message"></div>
					<form th:action="@{/assetbrand/save}" method="post" role="form" th:object="${assetBrand}" id="assetBrandAddForm">
                        <input type="hidden" id="id" name="id" th:field="*{brandId}"/>
                        <input type="hidden" id="version" name="version" th:field="*{version}"/>
						<div class="row">	
							<div class="col-md-6">
	                           	<div class="form-group">
	                              	<label class="control-label"> Business <span class="symbol required"></span> </label>
	                              	<select id="brandBusinessId" th:field="*{brandBusinessId}" class="search-select" style="width: 100%;">
	                                    <option value="">&nbsp;</option>
	                                    <option th:each="business : ${businesses}" th:value="${business.id}" th:text="${business.name}"></option>
									</select>
	                             </div>
	                        </div>
							<div class="col-md-6">
								<div class="form-group">
                                      <label class="control-label"> Brand Name<span class="symbol required"></span> </label>
                                      <input type="text" placeholder="Eg:12xxxx" class="form-control"name="brandName" th:field="*{brandName}"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div>
									<span class="symbol required"></span>Required Fields
									<hr>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- end: PAGE CONTENT-->
</div>

</html>