<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">
	<div class="row" th:fragment="machineinfo" >
    	<div class="col-sm-12">
              <div class="tabbable wrapper">
                  <ul id="myTab" class="nav nav-tabs tab-bricky list">
                      <li class="active">
                          <a href="#general_tab" data-toggle="tab">
                             General
                          </a>
                      </li>
                    	 <li>
                          <a href="#location_tab"  data-toggle="tab">
                              Location
                          </a>
                      </li> 
                      <li>
                          <a href="#event_tab"  data-toggle="tab">
                              Asset Event 
                          </a>
                      </li>
                      <li>
                          <a href="#meter_reading_tab" data-toggle="tab">
                              Meter Reading
                          </a>
                      </li>
                      <li>
                          <a href="#parts_tab" data-toggle="tab">
                              Parts/BOM
                          </a>
                      </li>
                      <li>
                          <a href="#spare_parts_tab" data-toggle="tab">
                              Spare Parts
                          </a>
                      </li>
                      <li>
                          <a href="#personnels_tab"  data-toggle="tab">
                              Personnel
                          </a>
                      </li>
                      <li>
                          <a href="#warranties_tab"  data-toggle="tab">
                              Warranties
                          </a>
                      </li>
                      <li>
                          <a href="#purchasing_tab"  data-toggle="tab">
                              Purchasing
                          </a>
                      </li>
                      <li>
                          <a href="#customer_history_tab"  data-toggle="tab">
                              Owner History
                          </a>
                      </li>
                      <li>
                          <a href="#logs_tab"  data-toggle="tab">
                              Logs
                          </a>
                      </li>
                      <li>
                          <a href="#file_tab"  data-toggle="tab">
                              File
                          </a>
                      </li>
                      <li>
                          <a href="#valuation_tab"  data-toggle="tab">
                              Valuation
                          </a>
                      </li>
                      <li>
                          <a href="#qr_tab"  data-toggle="tab">
                              QR Code
                          </a>
                      </li>
                  </ul>
                  <div class="tab-content">
                      <div class="tab-pane in active" id="general_tab">
                          <div th:replace="asset/tab/machine-general-tab :: machineGeneralTabFragment"></div>
                      </div>
                      <div class="tab-pane" id="location_tab">
                          <div th:replace="asset/tab/location-tab :: locationTabFragment"></div>
                      </div> 
                      <div class="tab-pane" id="event_tab">
                          <div th:replace="asset/tab/asset-event-tab :: assetEventTabFragment"></div>
                      </div>
                      <div class="tab-pane" id="meter_reading_tab">
                          <div th:replace="asset/tab/meter-reading-tab :: meterReadingTabFragment"></div>
                      </div>
                      <div class="tab-pane" id="personnels_tab">
                          <div th:replace="asset/tab/personnel-tab :: personnelTabFragment"></div>
                      </div>
                      <div class="tab-pane" id="parts_tab">
                          <div th:replace="asset/tab/bom-tab :: bomTabFragment"></div>
                      </div>
                      <div class="tab-pane" id="spare_parts_tab">
                          <div th:replace="asset/tab/spare-part-tab :: saprePartTabFragment"></div>
                      </div>
                      <div class="tab-pane" id="warranties_tab">
                          <div th:replace="asset/tab/warranty-tab:: warrantyTabFragment"></div>
                      </div>
                      <div class="tab-pane" id="purchasing_tab">
                          <div th:replace="asset/tab/purchasing-tab :: purchasingTabFragment"></div>
                      </div>
                      <div class="tab-pane" id="customer_history_tab">
                          <div th:replace="asset/tab/customer-history-tab :: customerHistoryTabFragment"></div>
                      </div>
                      <div class="tab-pane" id="logs_tab">
                          <div th:replace="asset/tab/log-tab :: assetLogTableFragment"></div>
                      </div>
                       <div class="tab-pane" id="file_tab">
                          <div th:replace="asset/tab/file-tab :: fileTabFragment"></div>
                      </div>
                       <div class="tab-pane" id="valuation_tab">
                          <div th:replace="asset/tab/valuation-tab :: valuationTabFragment"></div>
                      </div>
                       <div class="tab-pane" id="qr_tab">
                          <div th:replace="asset/tab/qr-tab :: QRTabFragment"></div>
                      </div>

                  </div>
              </div>
    	</div>
	</div>
</html> 