<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="userGeneralTabFragment">
    <div class="row">
		<div class="col-md-6">
			<div class="form-group">
	                  <label class="control-label"> Currency </label>
	                  <div class="input-group">
	                      <input type="hidden" id="currencyId" th:field="*{currencyId}">
	                      <input type="text" id="currencyName" th:field="*{currencyName}" readonly class="form-control" placeholder="Please specify a currency">                     
	                  </div>
	           </div>		
		</div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label"> Hourly Rate </label>
                <input type="text" placeholder="Eg:$2" th:field="*{hourlyRate}" class="form-control">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label"> Personal Code </label>
                <input type="text" placeholder="Eg:Code 123" th:field="*{personalCode}" class="form-control">
            </div>
        </div>
    </div>
</div>
</html>